<hr class="featurette-divider">

<div class="row" id="quemMeRepresenta">
    <div class="col-md-offset-2 col-md-8 headline2">
        Epílogo: Quem me representa?
    </div>
</div>

<hr class="featurette-divider">


<div class="row">
    <div class="col-md-4">
        <!--<span class="glyphicon glyphicon-question-sign"></span>-->
        <h2 class="featurette-heading">Descubra que deputados
            <span class="text-muted">pensam como você.</span>
        </h2>
        <p class="lead">Outro projeto realizado pelo <a href="https://www.facebook.com/analytics.ufcg">Laboratório Analytics</a> é o <a href="http://www.qmrepresenta.com.br">Quem Me Representa?</a> Nele você dá sua opinião em temas polêmicos e descobre quais deputados votaram concordando com suas opiniões.

        </p>
    </div>
    <div class="col-md-6 pull-left">
        <a href="http://www.qmrepresenta.com.br">
            <img class="img-responsive pull-left" src="images/qmr.png">
        </a>
    </div>
</div>

<hr class="featurette-divider">

<div class="row" id="seealso">
    <div class="col-md-offset-2 col-md-8 headline2">
        Veja também
    </div>
</div>



<hr class="featurette-divider">


<div class="row">
    <div class="col-md-4">
        <!--<span class="glyphicon glyphicon-question-sign"></span>-->
        <h2 class="featurette-heading">As faces de Cunha.
        </h2>
        <p class="lead">Projeto realizado pelo <a href="http://www.brasildefato.com.br/">Brasil de Fato</a> que analisa a atuação de Eduardo Cunha na presidência da Câmara dos Deputados.
        </p>
    </div>
    <div class="col-md-6 pull-left">
        <a href="http://facesdecunha.brasildefato.com.br/">
            <img class="img-responsive pull-left" src="images/faces-cunha.png">
        </a>
    </div>
</div>
