<hr class="featurette-divider">

<div class="row vertical-align" id="interativo">
    <div class="col-md-6 col-md-offset-3">
        <h2 class="featurette-heading">Como assim?</h2>
        <p>
            Analisamos as doações de campanha recebidas pelos atuais Deputados Federais do Brasil. Num primeiro momento, investigamos apenas dados de doações de empresas patrocinadoras de campanha (doações feitas a partir de um CNPJ).
        </p>
    </div>
</div>

<hr class="featurette-divider">

<!-- Fourth Featurette -->
<div class="row vertical-align" id="interativo">
    <div class="col-md-6 col-md-offset-3">
        <h2 class="featurette-heading" style="text-align: center">Quem doa mais?
            <span class="text-muted" style="text-align: center">passe o mouse ou toque nas barras abaixo para mais informações.</span>
        </h2>
        <p class="lead" style="text-align: center">O gráfico abaixo mostra as 20 empresas que fizeram doações para o maior número de candidatos</p>
    </div>
</div>


<div class="row">
    <div class="col-md-8  col-md-offset-2">
        <ranking ranking-data="rankingCNPJ" ranking-metric="quant" ranking-title="Quantidade de Doações"></ranking>
    </div>
</div>


<hr class="featurette-divider">

<!-- Fourth Featurette -->
<div class="row vertical-align" id="interativo">
    <div class="col-md-6 col-md-offset-3">
        <h2 class="featurette-heading" style="text-align: center">Quem tem mão aberta?
            <span class="text-muted" style="text-align: center">passe o mouse ou toque nas barras abaixo para mais informações.</span>
        </h2>
        <p class="lead" style="text-align: center">O gráfico abaixo mostra as 20 empresas que doaram mais na última campanha para Deputados Federais.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-8  col-md-offset-2">
        <ranking ranking-data="rankingCNPJ" ranking-metric="valor" ranking-title="Total de Doações"></ranking>
    </div>
</div>


<!--
<hr class="featurette-divider">

 Fourth Featurette 
<div class="row vertical-align" id="interativo">
    <div class="col-md-6 col-md-offset-3">
        <h2 class="featurette-heading" style="text-align: center">Alguém em particular?
            <span class="text-muted" style="text-align: center">passe o mouse ou toque nos pontos abaixo.</span>
        </h2>
        <p class="lead" style="text-align: center">As cores são as mesmas que usamos acima.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-8  col-md-offset-2">
        <ranking ranking-data="rankingCPF" ranking-metric="valor" ranking-title="Total de Doações"></ranking>
    </div>
</div>-->

<hr class="featurette-divider">

<div class="row" id="odinheiro">
    <div class="col-md-offset-2 col-md-8 headline2">
        Ato 3: Patrocínio
    </div>
</div>


<hr class="featurette-divider">

<div class="row vertical-align" id="interativo">
    <div class="col-md-6 col-md-offset-3">
        <h2 class="featurette-heading">Entenda
            <span class="text-muted">Ok.</span>
        </h2>
        <p>
            Analisamos as posições das empresas de acordo com suas doações para as campanhas dos politicos/partidos e montamos o mapa de suas posições políticas
        </p>
        <p>Os dados e cálculos foram atualizados pela última vez em: dd/mm/yyyy.</p>

    </div>
</div>


<hr class="featurette-divider">

<div class="row">
    <div class="col-md-4">
        <!--<span class="glyphicon glyphicon-question-sign"></span>-->
        <h2 class="featurette-heading">Quem banca quem? 
            <span class="text-muted">empresas e suas vagas no congresso</span>
        </h2>
        <p class="lead">Veja as empresas que mais financiaram políticos que foram eleitos na última eleição.</p>
    </div>
    <div class="col-md-6 pull-left">
        <a href="images/top-empresas-numero-candidatos.png">
            <img class="img-responsive pull-left" src="images/top-empresas-numero-candidatos.png">
        </a>
    </div>
</div>

<hr class="featurette-divider">

<div class="row">
    <div class="col-md-6 pull-left">
        <a href="images/top-empresas-doadoras.png">
            <img class="img-responsive pull-right" src="images/top-empresas-doadoras.png">
        </a>
    </div>
    <div class="col-md-4">
        <h2 class="featurette-heading">Doações 
            <span class="text-muted"></span>
            <p class="lead">Top empresas que mais financiaram campanhas políticas na eleição de 2014</p>
        </h2>
    </div>
</div>

<p>Os dados e cálculos foram atualizados pela última vez em: dd/mm/yyyy.</p>