<!DOCTYPE html>
<html lang="en" ng-app="houseOfCunhaApp"
      xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<meta property="og:image" content="img/new_thumbnail.jpg" />-->

    <title>Quem me representa?</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">



</head>

<body data-spy="scroll" ng-controller="VotacoesCtrl">


	<div class="container">
		<h1>Quem me representa?</h1>
		<select  ng-model="estadoSelecionado" ng-init="estadoSelecionado">
			<option ng-repeat="estado in estados"
					value="{{estado.estado}}">
				{{estado.estado}}
			</option>
		</select>

		{{estadoSelecionado}}


	</div>


	<!-- /Section atracoes -->
	

	<!-- Section equipe -->
    <section id="about" class="home-section text-center bg-gray margin-less">
		<div class="heading-about marginbot-30">
			<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="section-heading">
						<h2> Nossa Equipe </h2>
					</div>
			
				</div>
			</div>
			</div>
		</div>
		<div class="container">

        <div class="row">
        	<div class="col-xs-6 col-sm-1 col-md-1"></div>
            <div class="col-xs-6 col-sm-2 col-md-2">

                <div class="team boxed-grey">
                    <div class="inner">
						<h5>Andryw Marques</h5>
                        <!--<div class="avatar"><img src="img/team/1.jpg" alt="" class="img-responsive" /></div>-->
                    </div>
                </div>
		
            </div>
			<div class="col-xs-6 col-sm-2 col-md-2">

                <div class="team boxed-grey">
                    <div class="inner">
						<h5>Arthur Sena</h5>
                        <!--<div class="avatar"><img src="img/team/2.jpg" alt="" class="img-responsive" /></div>-->
                    </div>

				</div>
            </div>
        </div>


		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<div class="section-heading">
					<h5> Projeto iniciado no 3º Hackfest Analytics, promovido pelo
						<a href="https://www.facebook.com/analytics.ufcg">Laboratório Analytics</a> da UFCG.</h5>
				</div>

			</div>
		</div>

		</div>
	</section>
	<!-- Section equipe -->
	
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<p>Copyright &copy; 2015 PPquando?</p>
				</div>
			</div>	
		</div>
	</footer>


	<!-- Core JavaScript Files -->
    <script src="js/jquery.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="lib/controllers.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/underscore-min.js"></script>
</body>

</html>
