<hr class="featurette-divider">

<div class="row" id="odinheiro">
    <div class="col-md-offset-2 col-md-8 headline2">
        Ato 3: Patrocínio
    </div>
</div>

<hr class="featurette-divider">

<div class="row">
    <div class="col-md-4">
        <!--<span class="glyphicon glyphicon-question-sign"></span>-->
        <h2 class="featurette-heading">Quem banca quem?
            <span class="text-muted"></span>
        </h2>
        <p class="lead">veja quais empresas patrocinam os nosso politicos.</p>
    </div>
    <div class="col-md-6 pull-left">
        <a href="images/tops-cunhas.png">
            <img class="img-responsive pull-left" src="images/tops-cunhas.png">
        </a>
    </div>
</div>
