<hr class="featurette-divider">


<!-- Fourth Featurette -->
<div class="row vertical-align" id="interativo">
    <div class="col-md-6 col-md-offset-3">
        <h2 class="featurette-heading" style="text-align: center">Alguém em particular?
            <span class="text-muted" style="text-align: center">passe o mouse ou toque nos pontos abaixo.</span>
        </h2>
        <p class="lead" style="text-align: center">As cores são as mesmas que usamos acima.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-8  col-md-offset-2">
        <ranking ranking-data="rankingCNPJ" ranking-metric="valor" ranking-title="Total de Doações"></ranking>
    </div>
</div>

<hr class="featurette-divider">

<!-- Fourth Featurette -->
<div class="row vertical-align" id="interativo">
    <div class="col-md-6 col-md-offset-3">
        <h2 class="featurette-heading" style="text-align: center">Alguém em particular?
            <span class="text-muted" style="text-align: center">passe o mouse ou toque nos pontos abaixo.</span>
        </h2>
        <p class="lead" style="text-align: center">As cores são as mesmas que usamos acima.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-8  col-md-offset-2">
        <ranking ranking-data="rankingCNPJ" ranking-metric="quant" ranking-title="Quantidade de Doações"></ranking>
    </div>
</div>


<!--
<hr class="featurette-divider">

 Fourth Featurette 
<div class="row vertical-align" id="interativo">
    <div class="col-md-6 col-md-offset-3">
        <h2 class="featurette-heading" style="text-align: center">Alguém em particular?
            <span class="text-muted" style="text-align: center">passe o mouse ou toque nos pontos abaixo.</span>
        </h2>
        <p class="lead" style="text-align: center">As cores são as mesmas que usamos acima.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-8  col-md-offset-2">
        <ranking ranking-data="rankingCPF" ranking-metric="valor" ranking-title="Total de Doações"></ranking>
    </div>
</div>-->