<hr class="featurette-divider">

<div class="row" id="ocunhometro">
    <div class="col-md-offset-2 col-md-8 headline2">
        Ato 2: Um Cunhômetro
    </div>
</div>

<hr class="featurette-divider">


<div class="row">
    <div class="col-md-4">
        <!--<span class="glyphicon glyphicon-question-sign"></span>-->
        <h2 class="featurette-heading">Quem vota com Cunha?
            <span class="text-muted">eis os top-Cunha.</span>
        </h2>
        <p class="lead">Nenhum projeto passa sem uma maioria de votos. Quem concorda com a pauta de Cunha?</p>
    </div>
    <div class="col-md-6 pull-left">
        <a href="images/tops-cunhas.png">
            <img class="img-responsive pull-left" src="images/tops-cunhas.png">
        </a>
    </div>
</div>

<hr class="featurette-divider">

<div class="row">
    <div class="col-md-6 pull-left">
        <a href="images/tops-acunhas.png">
            <img class="img-responsive pull-right" src="images/tops-acunhas.png">
        </a>
    </div>
    <div class="col-md-4">
        <h2 class="featurette-heading">E quem é oposição
        <span class="text-muted">e vota diferente dele?</span>
    <p class="lead">Quem menos concorda são os deputados mais abaixo nessa lista. Hoje, Cabo Daciolo e Jean Wyllis.</p>
    </h2>
    </div>
</div>

<hr class="featurette-divider">

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2 style="text-align: center">Cunhômetro por partido</h2>
        <a href="images/cunhometro-por-partido.png">
            <img class="img-responsive pull-left" src="images/cunhometro-por-partido.png">
        </a>
    </div>
</div>
