<hr class="featurette-divider">

<div class="row" id="lavagem">
    <div class="col-md-offset-2 col-md-8 headline2">
        Ato 4: Uma mão lava outra
    </div>
</div>

<hr class="featurette-divider">

<div class="row">
    <div class="col-md-4">
        <!--<span class="glyphicon glyphicon-question-sign"></span>-->
        <h2 class="featurette-heading">Lavagem de mãos
            <span class="text-muted"></span>
        </h2>
        <p class="lead">Entenda o posicionamento político das empresas</p>
        <p class="lead">O grupo mais a direita desse gráfico recebeu dinheiro das seguintes empresas: Companhia Brasileira de Metalurgia e Mineração, Australia Empreendimentos Imobiliários LTDA, Guarani S/A, Itaú Unibanco S/A, Copersucar S/A, União de Faculdades do Amapá LTDA, Construtora Barbosa Mello S.A. Embraer S/A, BRASKEM S/A, S/A Usina Coruripe Açúcar e Álcool.</p>
    </div>
    <div class="col-md-6 pull-left">
        <a href="images/mapa-doacoes-partidods.png">
            <img class="img-responsive pull-left" src="images/mapa-doacoes-partidos.png">
        </a>
    </div>

</div>