<hr class="featurette-divider">

<div class="row" id="asposicoes">
    <div class="col-md-offset-2 col-md-8 headline2">
        Ato 1: As posições
    </div>
</div>

<hr class="featurette-divider">

<div class="row vertical-align">
    <div class="col-md-8" id="geral">
        <a href="images/visao-geral-gg.png">
            <img class="img-responsive pull-right" src="images/visao-geral.png">
        </a>
    </div>
    <div class="col-md-4">
        <h2 class="featurette-heading">As posições
            <span class="text-muted">pelas ações</span>
        </h2>
        <p class="lead">agrupa os deputados da house of cunha que votam parecidos. Há três grupos maiores que detalharemos mais abaixo. (Você pode clicar na imagem para vê-la maior, se quiser procurar alguém...)</p>
    </div>
</div>

<hr class="featurette-divider">

<div class="row vertical-align">
    <div class="col-md-4">
        <h2 class="featurette-heading">Eduardo Cunha
            <span class="text-muted">como referência</span>
        </h2>
        <p class="lead">O figura ao lado ilustra onde estaria um deputado que seguisse exatamente as orientações de Eduardo Cunha. Cunha não vota, mas como ele é o líder do PMDB na Câmara, podemos utilizar as orientações do PMDB como orientações de Cunha.</p>
    </div>
    <div class="col-md-8" id="geral">
        <a href="images/visao-geral-cc.png">
            <img class="img-responsive pull-left" src="images/visao-geral-cc.png">
        </a>
    </div>
</div>

<hr class="featurette-divider">

<div class="row vertical-align">
    <div class="col-md-8" id="geral">
        <a href="images/icones.png">
            <img class="img-responsive pull-right" src="images/icones.png">
        </a>
    </div>
    <div class="col-md-4 pull-left" id="geral">
        <h2 class="featurette-heading">Mais referências
            <span class="text-muted">para orientação.</span>
        </h2>
        <p class="lead">Para situar a leitura do mapa, aqui estão onde ficaram alguns deputados icônicos. Se, assim como a gente, você é da Paraíba, temos uma versão com <a href="images/deputados-da-pb.png">destaque para os deputados da PB</a>.</p>
    </div>
</div>

<hr class="featurette-divider">

<div class="row vertical-align">
    <div class="col-md-4">
        <h2 class="featurette-heading">Três partidos grandes
            <span class="text-muted">e um quarto diferente.</span>
        </h2>
        <p class="lead">Os três maiores grupos no mapa são as posições de PT, PMDB e PSDB. O PSOL marca uma quarta posição diferente das três. O PSDB está mais longe que o PMDB do PT, mas não tanto. O PMDB fica entre oposição e situação. </p>
    </div>
    <div class="col-md-8" id="partidos">
        <a href="images/partidos.png">
            <img class="img-responsive pull-left" src="images/partidos.png">
        </a>
    </div>
</div>

<hr class="featurette-divider">

<!-- Fourth Featurette -->
<div class="row vertical-align" id="interativo">
    <div class="col-md-6 col-md-offset-3">
        <h2 class="featurette-heading" style="text-align: center">Alguém em particular?
        <span class="text-muted" style="text-align: center">passe o mouse ou toque nos pontos abaixo.</span>
    </h2>
        <p class="lead" style="text-align: center">As cores são as mesmas que usamos acima.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-8  col-md-offset-2">
        <camara2d chart-data="deputados">
            <div id='chart15ac5988c8a0' class='rChart nvd3'></div>
        </camara2d>
    </div>
</div>

<hr class="featurette-divider">

<div class="row vertical-align" id="interativo">
    <div class="col-md-6 col-md-offset-3">
        <h2 class="featurette-heading">Os detalhes?
            <span class="text-muted">Ok.</span>
        </h2>
        <p>Para fazer o mapa acima, utilizamos os dados de todas as votações da Câmara até julho/2015. A atividade dos deputados é comparada de acordo com sua similaridade, e o espaço no qual os distribuímos nas figuras é criado utilizando um método estatístico chamado Multiple Correspondence Analysis, uma técnica de redução de dimensionalidade para dados categóricos (essa última frase só deve fazer sentido se você gostar muito de estatística e Mineração de Dados). Quando um deputado não vota sim ou não, assumimos que ele concorda com a maioria.</p>
        <p>Os dados e cálculos foram atualizados pela última vez em: 29/8/2015.</p>
        <p class="lead">Mas não acabou. Abaixo, o Cunhômetro!</p>
    </div>
</div>