<hr class="featurette-divider">

<div class="row" id="lavagem">
    <div class="col-md-offset-2 col-md-8 headline2">
        Ato 4: Uma mão lava outra
    </div>
</div>

<hr class="featurette-divider">

<div class="row">
    <div class="col-md-4">
        <!--<span class="glyphicon glyphicon-question-sign"></span>-->
        <h2 class="featurette-heading">Lavem de mãos
            <span class="text-muted"></span>
        </h2>
        <p class="lead">Entenda o posicionamento político das empresas</p>
    </div>
    <div class="col-md-6 pull-left">
        <a href="images/tops-cunhas.png">
            <img class="img-responsive pull-left" src="images/tops-cunhas.png">
        </a>
    </div>
</div>
